name: Rust

on:
  workflow_call:
    inputs:
      rust_version:
        required: false
        # Keep the default in sync with `rust-toolchain.toml` and servo's MSRV!
        default: "1.85.0"
        type: string
      verify_artifacts:
        required: false
        default: true
        type: boolean

env:
  RUST_BACKTRACE: 1
  SHELL: /bin/bash
  CARGO_INCREMENTAL: 0
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MOZJS_CREATE_ARCHIVE: 1
  NEW_RUST_CHECK: ${{ inputs.rust_version == 'stable' || inputs.rust_version == 'beta' }}
  # Increase this version to purge sccache cache on GitHub Actions
  SCCACHE_GHA_VERSION: 2

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        features: ["jit libz-sys intl"]
        target: ["x86_64-pc-windows-msvc"]
    env:
      LINKER: "lld-link.exe"
      CC: "clang-cl"
      CXX: "clang-cl"
      MOZTOOLS_PATH: "${{ github.workspace }}\\target\\dependencies\\moztools-4.0"
      CCACHE: sccache
      SCCACHE_GHA_ENABLED: "true"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: ${{ inputs.rust_version }}
          targets: ${{ matrix.target }}
          components: "rustfmt"
      - name: Install deps
        run: |
          curl -SL "https://github.com/servo/servo-build-deps/releases/download/msvc-deps/moztools-4.0.zip" --create-dirs -o target/dependencies/moztools.zip
          cd target/dependencies && unzip -qo moztools.zip -d .
      - name: Install LLVM 19
        run: |
          # MSVC has headers that require clang-19.
          # remove when windows runner updates to llvm 19
          iwr -useb get.scoop.sh -outfile 'install.ps1'
          .\install.ps1 -RunAsAdmin
          scoop install llvm@19.1.7 --global
          # Prepend to path so we override the default LLVM installation in priority
          echo "C:\ProgramData\scoop\apps\llvm\current\bin;" + (Get-Content $env:GITHUB_PATH -Raw) | Set-Content $env:GITHUB_PATH
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build Windows
        shell: cmd
        run: |
          cargo +${{ steps.toolchain.outputs.name }} build --release --verbose --target ${{ matrix.target }} --features "${{ matrix.features }}"
      - name: Test Windows
        if: ${{ !contains(matrix.target, 'aarch64') }}
        shell: cmd
        run: |
          cargo +${{ steps.toolchain.outputs.name }} test --tests --examples --verbose --target ${{ matrix.target }} --features "${{ matrix.features }}"

      - name: Upload artifact
        if: ${{ env.NEW_RUST_CHECK == 'false' }}
        uses: actions/upload-artifact@v4
        with:
          path: ./target/${{ matrix.target }}/libmozjs-x86_64-pc-windows-msvc.tar.gz
          name: libmozjs-x86_64-pc-windows-msvc.tar.gz

  integrity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: ${{ inputs.rust_version }}
          components: "rustfmt"
      - name: Check Rust formatting
        run: cargo +${{ steps.toolchain.outputs.name }} fmt --check
      - name: Check C++ formatting
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: "18"
          exclude-regex: mozjs-sys\/mozjs
      - name: Get mozjs
        run: |
          bash ./mozjs-sys/etc/get_mozjs.sh
      - name: Apply patch
        run: |
          python3 ./mozjs-sys/etc/update.py --no-commit mozjs.tar.xz
          # Run `git add` here to force CRLF converted into LF
          # so that we can check diff properly in next run
          git add --all mozjs-sys
      - name: Check patch integrity
        working-directory: ./mozjs-sys
        # Because we've added files in previous run, we need to
        # check diff with `--staged`.
        run: |
          git diff --staged --no-ext-diff --exit-code
      - name: Detect need for mozjs-sys version bump
        if: ${{ github.event_name == 'pull_request' }}
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            needs_mozjs_sys_bump:
              - 'mozjs-sys/src/*.cpp'
              - 'mozjs-sys/mozjs/**'
              - 'mozjs-sys/*'

      - name: Ensure mozjs-sys version is bumped
        if: ${{ github.event_name == 'pull_request' && steps.changes.outputs.needs_mozjs_sys_bump == 'true' }}
        run: |
          git fetch origin main
          CHANGED=$(git diff origin/main -- mozjs-sys/Cargo.toml | grep '^+\s*version\s*=' || true)
          if [ -n "$CHANGED" ]; then
            echo "✅ mozjs-sys version bumped: $CHANGED"
            exit 0
          else
            echo "❌ No mozjs-sys version bump found."
            echo "Please bump mozjs-sys version to trigger publishing new artifacts on landing."
            exit 1
          fi

      - name: Ensure mozjs version is bumped if mozjs-sys version bumped
        if: ${{ github.event_name == 'pull_request' && steps.changes.outputs.needs_mozjs_sys_bump == 'true' }}
        run: |
          CHANGED=$(git diff origin/main -- mozjs/Cargo.toml | grep '^+\s*version\s*=' || true)
          if [ -n "$CHANGED" ]; then
          echo "✅ mozjs version bumped: $CHANGED"
          exit 0
          else
          echo "❌ No mozjs version bump found."
          echo "Please bump mozjs version to trigger publishing a new crates.io release on landing."
          exit 1
          fi

  verify-release-artifacts:
    name: Verify release artifacts
    needs: ["windows"]
    if: ${{  inputs.verify_artifacts && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
    uses: ./.github/workflows/release-check.yml
    with:
      release-tag: ''
      rust_version: ${{ inputs.rust_version }}

  build_result:
    name: Result
    runs-on: ubuntu-latest
    needs:
      [
        "windows",
        "integrity",
        "verify-release-artifacts",
      ]
    if: ${{ always() }}
    steps:
      - name: Mark the job as successful
        if: ${{ !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
        run: exit 0
      - name: Mark the job as unsuccessful
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1
