name: Rust

on:
  workflow_call:
    inputs:
      rust_version:
        required: false
        # Keep the default in sync with `rust-toolchain.toml` and servo's MSRV!
        default: "1.85.0"
        type: string
      verify_artifacts:
        required: false
        default: true
        type: boolean

env:
  RUST_BACKTRACE: 1
  SHELL: /bin/bash
  CARGO_INCREMENTAL: 0
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MOZJS_CREATE_ARCHIVE: 1
  NEW_RUST_CHECK: ${{ inputs.rust_version == 'stable' || inputs.rust_version == 'beta' }}
  # Increase this version to purge sccache cache on GitHub Actions
  SCCACHE_GHA_VERSION: 2

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        features: ["jit libz-sys intl"]
        target: ["x86_64-pc-windows-msvc"]
    env:
      LINKER: "lld-link.exe"
      CC: "clang-cl"
      CXX: "clang-cl"
      MOZTOOLS_PATH: "${{ github.workspace }}\\target\\dependencies\\moztools-4.0"
      CCACHE: sccache
      SCCACHE_GHA_ENABLED: "true"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: ${{ inputs.rust_version }}
          targets: ${{ matrix.target }}
          components: "rustfmt"
      - name: Install deps
        run: |
          curl -SL "https://github.com/servo/servo-build-deps/releases/download/msvc-deps/moztools-4.0.zip" --create-dirs -o target/dependencies/moztools.zip
          cd target/dependencies && unzip -qo moztools.zip -d .
      - name: Install LLVM 19
        run: |
          # MSVC has headers that require clang-19.
          # remove when windows runner updates to llvm 19
          iwr -useb get.scoop.sh -outfile 'install.ps1'
          .\install.ps1 -RunAsAdmin
          scoop install llvm@19.1.7 --global
          # Prepend to path so we override the default LLVM installation in priority
          echo "C:\ProgramData\scoop\apps\llvm\current\bin;" + (Get-Content $env:GITHUB_PATH -Raw) | Set-Content $env:GITHUB_PATH
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build Windows
        shell: cmd
        run: |
          cargo +${{ steps.toolchain.outputs.name }} build --release --verbose --target ${{ matrix.target }} --features "${{ matrix.features }}"
      - name: Test Windows
        if: ${{ !contains(matrix.target, 'aarch64') }}
        shell: cmd
        run: |
          cargo +${{ steps.toolchain.outputs.name }} test --tests --examples --verbose --target ${{ matrix.target }} --features "${{ matrix.features }}"

      - name: Upload artifact
        if: ${{ env.NEW_RUST_CHECK == 'false' }}
        uses: actions/upload-artifact@v4
        with:
          path: ./target/${{ matrix.target }}/libmozjs-x86_64-pc-windows-msvc.tar.gz
          name: libmozjs-x86_64-pc-windows-msvc.tar.gz
