name: Version Release Check

on:
  release:
    types: [published]
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string
      rust_version:
        required: true
        type: string

env:
  RUST_BACKTRACE: 1
  SHELL: /bin/bash
  CARGO_INCREMENTAL: 0
  RUST_TOOLCHAIN_INPUT: ${{ github.event_name == 'release' && '1.85.0' ||  inputs.rust_version }}

jobs:
  verify-archive:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { target: x86_64-pc-windows-msvc, os: windows-latest }
    runs-on: ${{ matrix.platform.os }}
    env:
      RELEASE_TAG: ${{ github.event_name == 'release' && github.ref_name ||  inputs.release-tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN_INPUT }}
          targets: ${{ matrix.target }}
      - name: Download prebuilt mozjs from artifact
        if: ${{ env.RELEASE_TAG == '' }}
        uses: actions/download-artifact@v4
        with:
          name: libmozjs-${{ matrix.platform.target }}.tar.gz
      - name: Build from archive
        if: ${{ env.RELEASE_TAG == '' }}
        env:
          MOZJS_ARCHIVE: libmozjs-${{ matrix.platform.target }}.tar.gz
        run: |
          cargo +${{ steps.toolchain.outputs.name }} build --verbose
          cargo +${{ steps.toolchain.outputs.name }} test --tests --examples --verbose
      - name: Build from auto-download
        if: ${{ env.RELEASE_TAG != '' }}
        env:
          MOZJS_ATTESTATION: strict
        run: |
          cargo +${{ steps.toolchain.outputs.name }} build --verbose
          cargo +${{ steps.toolchain.outputs.name }} test --tests --examples --verbose
